* {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
 }

 body {
     background-color: rgb(131, 64, 92);
 }

 .con {
     background-color: rgb(226, 164, 207);
 }

 h1 {
     text-align: center;
     color: bisque;
 }
 #question-text {
    text-align: center;
    font-size: 30px;
 }

 #image {
     margin: 23px 40px 25px 420px;
     height: 200px;
     border: 7px solid rgb(192, 70, 111);
 }
 .underscores {
    text-align: center;
    font-size: 25px;
 }
 .rightGuess {
    text-align: center;
    font-size: 25px;
}
.wrongGuess {
    text-align: center;
    font-size: 25px;
}

.btn {
    
    background-color: blueviolet;
}

 #box {
     margin: 85px 50px 50px 59px;
 }

 #tries-text {
    text-align: center;
    font-size: 25px;
 }
